body{

margin:0;

background:#001f3f;

color:white;

font-family:tahoma;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}


.room-box{

width:90%;

max-width:900px;

background:
rgba(255,255,255,.1);

padding:30px;

border-radius:25px;

text-align:center;

}



.users{

display:flex;

justify-content:center;

gap:30px;

margin:30px;

}



.avatar{

font-size:60px;

}



.user{

background:
rgba(0,150,255,.3);

padding:20px;

border-radius:20px;

}



button{

background:#008cff;

color:white;

border:0;

padding:12px 20px;

margin:5px;

border-radius:10px;

cursor:pointer;

}



.admin{

margin-top:30px;

}
